
@{
    ViewData["Title"] = "Donor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["message2"] != null)
{
    <script>alert('@TempData["message2"]');</script>
}

<!-- ======= Services Section ======= -->
<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Blood Donor</h2>
        </div>

        <div class="row">
            @if (ViewBag.Role == 0)
            {
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-hospital-user"></i></div>
                <h4 class="title"><a asp-action="Index" asp-controller="Registration">Registration</a></h4>
                <p class="description">Those interested in donating blood can register here.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-user-check"></i></div>
                <h4 class="title"><a asp-action="Index" asp-controller="LoginCheck">Login Check</a></h4>
                <p class="description">If you already have an account. Click here to proceed to the login page.</p>
            </div>
            }

            <!-- Sau khi đăng nhập thành công dùng cái này -->
            @if (ViewBag.Role == 1)
            {
             <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="fas fa-user"></i></div>
              <h4 class="title"><a asp-action="Index" asp-controller="Donor" asp-route-id="@ViewBag.Id">Profile</a></h4>
              <p class="description">Details Modification</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="far fa-caret-square-right"></i></div>
              <h4 class="title"><a asp-action="logout" asp-controller="LoginCheck">Logout</a></h4>
              <p class="description">If you want to leave then stay here.</p>
            </div> 
            }
            @if (ViewBag.Role == 3)
            {
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-user"></i></div>
                    <h4 class="title"><a asp-action="Index" asp-controller="LifeSaving" asp-route-id="@ViewBag.Id">Life Saving Profile</a></h4>
                    <p class="description">Details Modification</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="far fa-caret-square-right"></i></div>
                    <h4 class="title"><a asp-action="logout" asp-controller="LoginCheck">Logout</a></h4>
                    <p class="description">If you want to leave then stay here.</p>
                </div>
            }
        </div>

    </div>
</section><!-- End Services Section -->

