
@{
    ViewData["Title"] = "General Infomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>General information</h2>
            <p>
                The number of persons who are in need of blood are increasing in large number day by day. In order to help people who are in need of blood, my Online Blood Bank can be used effectively for getting the details of blood donors having the same blood group and with in the same city. With the help of Online Blood Bank people who are having the thought of donating blood gets registered On Online Blood Bank giving his complete details.<br><br>
                Online Blood Bank site can be available to everyone easily. The site will help people who are in need of blood by giving the details of the donors by searching, if at all there are no donors having the same group and with in their own city they will be given the addresses with phone numbers of some contact persons in major cities who represent a club or an organization with free of cost.  If at all the people find any difficulty in getting blood from the contact persons we will give them a MobiLink i.e., country’s Largest Paging Service number through which they can give the message on every ones pagers with the blood group and city they are living in, such that the donors who view the messages in their pagers having the same blood group and the in the same city, he contacts the person on phone who are in need of a blood.  Such that the person gets help and can save his life.
            </p>
        </div>

    </div>
</section><!-- End About Us Section -->



