
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-2.jpg)">
                <div class="container">
                    <h2>Welcome to <span>online blood bank</span></h2>
                    <p>We will help you find information about blood donors.</p>
                    <a href="#about" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide2.jpg)">
                <div class="container">
                    <h2>Donor</h2>
                    <p>We will help you register information as quickly as possible.</p>
                    <a href="#about" class="btn-get-started scrollto">Read More</a>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h4 class="title"><a href="">Registration</a></h4>
                        <p class="description">You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-search"></i></div>
                        <h4 class="title"><a href="">Search</a></h4>
                        <p class="description">Support finding blood donors in the area.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-user-check"></i></div>
                        <h4 class="title"><a href="">Become a Donor</a></h4>
                        <p class="description">It's very important to have a good customer service, but I do.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="fa fa-bank"></i></div>
                        <h4 class="title"><a href="">Blood Bank</a></h4>
                        <p class="description">It's a very free customer service that's going to be knotted.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
                <p>The customer is very important, the customer will be followed by the customer. As the land of the land, the mourning nor the corporal of the land, the pillow of the lion.</p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Together We Can Make the World More Health & Better.</h3>
                    <p class="fst-italic">
                        It's important to have a good customer service, a customer service provider. Aenean's good fortune needs pain. Jasmine mass. Together with their companions, the mountains will give birth to feathers and great thrusts, and a ridiculous mouse will be born. Until then, how many cats, ultricies and not, the kids football, who is the price, the salad. There is no mass effect for anyone.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Search donor.</li>
                        <li><i class="bi bi-check-circle"></i> Blood bank.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Blood group Section ======= -->
    <section id="departments" class="departments">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Blood group</h2>
                <p>
                    There are four main blood types and eight different blood types. Doctors call this the ABO Blood Group System.
                    <br><br>
                    The ABO blood group system is used to identify different types of antigens on the surface of red blood cells and antibodies in plasma. The application of this system is to determine the blood type, from which patients who need a blood transfusion will receive the appropriate and safe blood type.
                </p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                                <h4>Blood group A</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                                <h4>Blood group B</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                                <h4>Blood group O</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                                <h4>Blood group AB</h4>
                                <p></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <h3>Blood group A</h3>
                            <p>
                                The surface of red blood cells contains A antigens, and the plasma has anti-B antibodies that will attack any blood group that has B antigens.
                            </p>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <h3>Blood group B</h3>
                            <p>
                                The surface of red blood cells contains B antigens, and the plasma has anti-A antibodies that will attack any blood group with A antigens.
                            </p>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <h3>Blood group O</h3>
                            <p>
                                The plasma of this blood group contains both anti-A/anti-B antibodies, but the surface of the red blood cells does not contain any A/B antigens. The absence of A/B antigens means that blood type can be transfused to someone with any blood type.
                            </p>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <h3>Blood group AB</h3>
                            <p>
                                This blood type red blood cell has both A and B antigens, but the plasma does not contain anti-A/anti-B antibodies. Individuals with blood type AB can receive any blood type.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Departments Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Gallery</h2>
                <p>Some pictures</p>
            </div>

            <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>If you have any questions, please contact us using the information below.</p>
            </div>

        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.326786282518!2d106.66429871421562!3d10.786264192314835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f39e5fa506f%3A0xe9b82409cff3ad0d!2zNTgwIMSQLiBDw6FjaCBN4bqhbmcgVGjDoW5nIDgsIFBoxrDhu51uZyAxMSwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1673529325903!5m2!1sen!2s" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="container">

            <div class="row mt-5">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>580 August Revolution</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info@example.com<br>contact@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <form asp-action="SendMailContact" asp-controller="Mail" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" id="name" placeholder="Your Name" required="">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" name="email" id="email" placeholder="Your Email" required="">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" name="subject" id="subject" placeholder="Subject" required="">
                        </div>
                        <div class="form-group mt-3">
                            <textarea name="htmlMessage" rows="7" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<style>
    .loginC {
        background: #C6414C;
        border: 0;
        padding: 10px 35px;
        color: #fff;
        transition: 0.4s;
        border-radius: 25px;
    }

        .loginC:hover {
            background: #B30513;
        }

    input {
        width: 100%;
        border: 1px solid;
        border-color: #CED4DA;
        box-shadow: none;
        font-size: 14px;
        padding: 10px 15px;
        outline: none;
        border-radius: 12px;
    }

        input:focus {
            border-color: #C6414C;
        }

    textarea {
        width: 100%;
        border: 1px solid;
        border-color: #CED4DA;
        box-shadow: none;
        font-size: 14px;
        padding: 10px 15px;
        outline: none;
        border-radius: 12px;
    }

        textarea:focus {
            border-color: #C6414C;
        }

    
</style>