
@{
    ViewData["Title"] = "TermOfService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Term Of Service</h2>
        </div>

        <div class="container">
            <p>Last Edit: 01/01/2023</p>
            <p>
                Get tested
                All blood units collected will be tested for blood type (ABO-Rh), HIV, hepatitis B virus, hepatitis C virus, syphilis.
                When donating blood at Blood Bank, you will be informed of the results by the department,
                kept confidential and consulted (free of charge) when the above infections are detected.
            </p>
            <p>
                Get free health check and consultation
                Participants who donate blood are checked for indicators such as weight, blood pressure,
                heart rate and measured parameters as the basis of health assessment.
            </p>
            <p>
                Be trained and cared for according to current regulations
                Like other blood donation sites, when voluntary blood donation at Blood Bank,
                blood donors will be fostered and cared for according to regulations:
                Received a certificate of voluntary blood donation from the Provincial Steering Committee for Humanitarian Blood Donation.
                In addition to the honorary value, the blood donation certificate has the value of blood reimbursement.
                If you have ever participated in blood donation, during your life,
                if you unfortunately need blood, the State will guarantee to reimburse you for free for the exact amount of blood you have donated.
            </p>


        </div>
    </div>
</section><!-- End Appointment Section -->

