
@{
    ViewData["Title"] = "donor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="counts" class="counts">
    <div class="container count-box" data-aos="fade-up">

        <div class="section-title">
            <h2>List donor</h2>
            <a asp-action="Index" asp-controller="LifeSaving" asp-route-id="@ViewBag.Id">Back</a>
        </div>

        <div class="row">
            <table style="text-align:center" class="table">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>BloodGroup</th>
                </tr>
                @if (ViewBag.donor != null)
                {
                    @foreach (var item in ViewBag.donor)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.City</td>
                            <td>
                                @if (item.BloodGroup == 1)
                                {
                                    var BloodG = "A";
                                    @BloodG
                                }
                                else if (item.BloodGroup == 2)
                                {
                                    var BloodG = "B";
                                    @BloodG
                                }
                                else if (item.BloodGroup == 3)
                                {
                                    var BloodG = "AB";
                                    @BloodG
                                }
                                else
                                {
                                    var BloodG = "O";
                                    @BloodG
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

    </div>
</section><!-- End Services Section -->

<style>
    .view {
        border: none;
        background-color: #C6414C;
        color: #ffffff;
        border-radius: 7px;
        width: 100px;
    }

        .view:hover {
            background-color: #B30513;
        }

    .searchSelect {
        width: 100%;
        border: 1px solid;
        box-shadow: none;
        font-size: 14px;
        padding: 10px 15px;
        outline: none;
    }

        .searchSelect:focus {
            border-color: #C6414C;
        }

    .searchButton {
        background-color: #C6414C;
        width: 100%;
        border: none;
        box-shadow: none;
        font-size: 14px;
        padding: 10px 15px;
        color: #fff;
        outline: none;
    }

        .searchButton:hover {
            background-color: #B30513;
        }
</style>

